<div id="CRUD">
    <div id = "profileForm">
      <form>
          <div class = "separateDiv">
            <div class = "textSeparateDiv"><i>Country Name</i><br></div>
            <input type = "text" name = "countryName" [(ngModel)]="countryName" class = "inputText" >
          </div><br>
          <div class = "separateDiv">
              <div class = "textSeparateDiv"><i>Country Code</i><br></div>
              <input type = "text" name = "code" [(ngModel)]="code" class = "inputText" >
          </div><br>
          <div class = "separateDiv">
              <button (click)="addCountry()">Add New Country</button>
          </div><br>
      </form>
    </div>
    <div id = "searchPlace" *ngIf = "isOriginClicked">

    </div>
  
  </div>
  