<h5>Find album which:</h5>
Contains song: <span *ngIf="song">{{song.songName}}</span>
<button *ngIf="song" (click)="resetSong()" class="advReset">Clear</button>
<div>
  <app-search-song (songEvent)="songEvent($event)"></app-search-song>
</div>
Is associated with genre: <span *ngIf="genre">{{genre.genreName}}</span>
<button *ngIf="genre" (click)="resetGenre()" class="advReset">Clear</button>
<div>
  <app-search-genre (genreEvent)="genreEvent($event)"></app-search-genre>
</div>
Was released by company <input type="text" [(ngModel)]="compName" placeholder="Company name">
<button (click)="search()">Search</button>
