<div id = "signInBackground">

  <form #signInForm = "ngForm" id = "signInForm">
    <div id = "signInBox">
      <h2>Sign In</h2>
    </div>
      <div id = "textInputs">
        <p><input type = "text" class = "creditals" name = "userName" [(ngModel)]="userName" placeholder="Username" required></p>
        <p><input type = "password" class = "creditals" name = "password" [(ngModel)]="password" placeholder="Password" required></p>
        <button (click)="signIn()" [disabled]="!signInForm.valid" id = "signInButton">Sign In</button>
        <div class="signUp"><a href = "SignUp">Don't Have account?</a></div>

      </div>
  </form>




</div>
