<div id="CRUD">
  <div id = "profileForm">
    <form>
        <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>Genre Name</i><br></div>
          <input type = "text" name = "genreName" [(ngModel)]="genreName" class = "inputText" >
        </div><br>
        <div class = "separateDiv">
            <div class = "textSeparateDiv"><i>Creation period</i><br></div>
            <input type = "text" name = "creationTime" [(ngModel)]="creationTime" class = "inputText" >
        </div><br>
        <div class = "separateDiv">
            <div class = "textSeparateDiv"><i>Origin: {{ genre.origin.countryName }}</i><br></div>
            <button (click)="searchOrigin()">Set Origin</button>
        </div><br>
        <div class = "separateDiv">
            <div class = "textSeparateDiv"><i>About Genre</i><br></div>
            <textarea type="text" name = "aboutGenre" id = "inputAbout" [(ngModel)]="aboutGenre"></textarea>
        </div><br>
        <div class = "separateDiv">
            <button (click)="addGenre()">Add New Genre</button>
        </div><br>
    </form>
  </div>
  <div id = "searchPlace" *ngIf = "isOriginClicked">
      <div class = "separateDiv">
        <div class = "textSeparateDiv"><i>Search Origin Place</i><br></div>
        <app-search-country (countryEvent)="countryEventHandler($event)"></app-search-country>
      </div><br>
  </div>

</div>
