<div class="down70px">
    <app-search-genre  *ngIf = "!isEditSelected" (genreEvent)="genreEventHandler($event)" (searchEvent)="searchEventHandler($event)"></app-search-genre>
<!--
    <div id="CRUD" *ngIf = "selectedCity">
      <h4><i>Edit instrument type: {{selectedCity.cityName}}</i></h4>
      <div>
          <form #profileForm = "ngForm" id = "profileForm">
              <div class = "separateDiv">
                <div class = "textSeparateDiv"><i>City Name:</i><br></div>
                <input type = "text" name = "cityName" [(ngModel)]="cityName" class = "inputText" required >
              </div><br>
              <div class = "separateDiv">
                  <div class = "textSeparateDiv"><i>Origin: <div>{{ city.country.countryName }}</div></i><br></div>
                  <button (click)="searchCountry()">Set Country</button>
              </div><br>
              <div class = "separateDiv">
                  <button (click)="update()">Update</button>
                  <button (click)="delete()">Delete</button>
              </div><br>
          </form>
        </div>
        <div id = "searchPlace" *ngIf = "isCountryClicked">
            <div class = "separateDiv">
              <div class = "textSeparateDiv"><i>Search Country:</i><br></div>
              <app-search-country (countryEvent)="countryEventHandler($event)"></app-search-country>
            </div><br>
        </div>
      </div>
    -->  

    <div *ngIf = "selectedGenre">
        <h4><i>Edit instrument type: {{selectedGenre.genreName}}</i></h4>
        <form #profileForm = "ngForm" id = "profileForm">
            <div class = "separateDiv">
              <div class = "textSeparateDiv"><i>Genre Name:</i><br></div>
              <input type = "text" name = "genreName" [(ngModel)]="genreName" class = "inputText" required>
            </div><br>
            <div class = "separateDiv">
                <div class = "textSeparateDiv"><i>Creation period:</i><br></div>
                <input type = "text" name = "creationTime" [(ngModel)]="creationTime" class = "inputText" required>
            </div><br>
            <div class = "separateDiv">
                <div class = "textSeparateDiv"><i>Origin: <div *ngIf = "isOriginSelected">{{ genre.origin.countryName }}</div></i><br></div>
                <button (click)="searchOrigin()">Set Origin</button>
            </div><br>
            <div class = "separateDiv">
                <div class = "textSeparateDiv"><i>About Genre:</i><br></div>
                <textarea type="text" name = "aboutGenre" id = "inputAbout" [(ngModel)]="aboutGenre"></textarea>
            </div><br>
            <div class = "separateDiv">
                <button (click)="update()" [disabled]="!profileForm.valid">Update</button>
                <button (click)="delete()">Delete</button>
            </div><br>
        </form>
      </div>
      <div id = "searchPlace" *ngIf = "isOriginClicked">
          <div class = "separateDiv">
            <div class = "textSeparateDiv"><i>Search Origin Place:</i><br></div>
            <app-search-country (countryEvent)="countryEventHandler($event)"></app-search-country>
          </div><br>
      </div>
  </div>
  