input.hidden {position:absolute;visibility:hidden;opacity:0;}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
  margin: 10px;
}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
