* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentDisplay{
  background-color: rgba(240, 248, 255, 0.9);
  margin-left: 18%;
  margin-right: 18%;
  min-height: 81vh;
}
#searchBlock{
  position: relative;
  width: 100%;
  left: 75%;
  transform: translate(-50%, -50%);
  animation-name: introAnimation;
  animation-duration: 1s;

}
#searchBox{
  position: relative;
  width: 50%;
  height: 30px;
  margin-top: 10px;
  border: none;
  float: left;

  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-right-style: none;

}

#searchButton{
  position: relative;
  background-color: white;
  float: left;
  margin-top: 10px;
  height: 30px;
  width: 30px;

  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-left-style: none;

  animation-name: buttonNotHoverAnimation;
  animation-duration: 0.5s;

}

#searchButton:hover{
  background-color: greenyellow;
  animation-name: buttonHoverAnimation;
  animation-duration: 0.5s;
}



#massage{
  position: relative;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#switchPanel{
  display: inline-block;
  text-align: center;
  padding-left: 1.5%;
  width: 100%;


}

#searchContentBlock{
  padding-left:5%;
}

input.hidden {position:absolute;visibility:hidden;opacity:0;}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
  margin: 10px;

}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
table {
  width: 30%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: arial, sans-serif;
  margin: 10px;
  display: inline-block;

}


tbody{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 25vh;
}

thead tr {
  display: block;
}

th, td {
  padding: 8px;
  text-align: left;
  width: 20vw;
  border: 1px solid #dddddd;
}

@keyframes introAnimation{
  0%{
    opacity: 0;
    top: -10%;
  }
  100%{
    opacity: 1;
    top: 0%;
  }
}


@keyframes buttonHoverAnimation{
  0%{
    background-color: white;
  }
  100%{
    background-color: greenyellow;
  }
}

@keyframes buttonNotHoverAnimation{
  0%{
    background-color: greenyellow;
  }
  100%{
    background-color: white;
  }
}


