<div id="CRUD">
  <div id = "profileForm">
    <form>
        <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>Instrument Type Name:</i><br></div>
          <input type = "text" name = "instrumentTypeName" [(ngModel)]="instrumentTypeName" class = "inputText" >
        </div><br>
        <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>About Type:</i><br></div>
          <textarea type="text" name = "aboutType" id = "inputAbout" [(ngModel)]="aboutType"></textarea>
      </div><br>
        <div class = "separateDiv">
            <button (click)="addInstrumentType()">Add New Instrument Type</button>
        </div><br>
    </form>
  </div>
</div>
