<div id = "centerDiv">
    <div id = "head">Public Profile</div>
    <br>
    <form id = "profileForm">
      <div class = "separateDiv">
        <div class = "textSeparateDiv"><i>Username</i><br></div>
        <input type = "text" name = "userName" [(ngModel)]="userName" class = "inputText" >
      </div><br>
      <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>Old Password</i><br></div>
        <input type = "text" name = "oldPassword" class = "oldPassword" [(ngModel)]="oldPassword">
      </div><br>
      <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>New Password</i><br></div>
        <input type = "text" name = "newPassword" class = "newPassword" [(ngModel)]="newPassword">
      </div><br>
      <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>Repeat Password</i><br></div>
        <input type = "date" name = "repeatPassword" class = "repeatPassword" [(ngModel)]="repeatPassword">
    </div><br>
    <div class = "separateDiv">
      <button (click)="changePassword()">Change Password</button>
    </div>
    </form>
  </div>
  
  