<div id = "centerDiv">
  <div id = "head">              
    <div class="componentNavigator" (click) = "songFavoriteList()">Favorite Songs</div>
    <div class="componentNavigator" (click) = "albumFavoriteList()">Favorite Albums</div>
    <div class="componentNavigator" (click) = "bandFavoriteList()">Favorite Bands</div>
    <div class="componentNavigator" (click) = "artistFavoriteList()">Favorite Artist</div>
  </div>

  <div *ngIf = "isSongListClicked" class="listDisplay">

      <li *ngFor="let song of songList">
          <a routerLink="/song/{{song.id}}">{{ song.songName }}</a>
      </li>

  </div>

  <div *ngIf = "isAlbumListClicked" class="listDisplay">

      <li *ngFor="let album of albumList">
          <a routerLink="/album/{{album.id}}">{{ album.albumName }}</a>
      </li>

  </div>

  <div *ngIf = "isBandListClicked" class="listDisplay">

      <li *ngFor="let band of bandList">
          <a routerLink="/band/{{band.id}}">{{ band.bandName }}</a>
      </li>

  </div>

  <div *ngIf = "isArtistListClicked" class="listDisplay">

      <li *ngFor="let artist of artistList">
          <a routerLink="/artist/{{artist.id}}">{{ artist.stageName }}</a>
          
      </li>

  </div>
<!--

  <button (click)="toggleSearch()">Search in songs</button><button (click)="getAll()">Get all songs</button>
<div *ngIf="searchOn">
  <input #searchBox id="searchBox" (input)="search(searchBox.value)" placeholder="Start typing to search..."/>
</div>
<div *ngIf="listOn" class="listDisplay">
  <ul>
    <li *ngFor="let song of (songs$ | async)" (click)="onSelect(song)">
      {{ song.songName }}
    </li>
  </ul>
</div>
<div *ngIf="pageOn">
  <div>Showing page {{pageNr+1}} of {{pageCount}}</div>
  <span *ngIf="pageNr > 0" class="pagingOpts" (click)="prevPage()">Previous page</span>
  <span class="pagingOpts" (click)="nextPage()">Next page</span>
  <span class="pagingOpts" (click)="setSize(5)">5</span>
  <span class="pagingOpts" (click)="setSize(10)">10</span>
  <span class="pagingOpts" (click)="setSize(20)">20</span>
  <span class="pagingOpts" (click)="setSize(50)">50</span>
  <span class="pagingOpts" (click)="setSize(100)">100</span>
  <li *ngFor="let song of songPage" (click)="onSelect(song)">
    {{ song.songName }}
  </li>
</div>

-->


</div>

