<div class="down70px">
    <app-search-city  *ngIf = "!isEditSelected" (cityEvent)="cityEventHandler($event)" (searchEvent)="searchEventHandler($event)"></app-search-city>

    <div id="CRUD" *ngIf = "selectedCity">
      <h4><i>Edit instrument type: {{selectedCity.cityName}}</i></h4>
      <div>
          <form #profileForm = "ngForm" id = "profileForm">
              <div class = "separateDiv">
                <div class = "textSeparateDiv"><i>City Name:</i><br></div>
                <input type = "text" name = "cityName" [(ngModel)]="cityName" class = "inputText" required >
              </div><br>
              <div class = "separateDiv">
                  <div class = "textSeparateDiv"><i>Origin: <div>{{ city.country.countryName }}</div></i><br></div>
                  <button (click)="searchCountry()">Set Country</button>
              </div><br>
              <div class = "separateDiv">
                  <button (click)="update()">Update</button>
                  <button (click)="delete()">Delete</button>
              </div><br>
          </form>
        </div>
        <div id = "searchPlace" *ngIf = "isCountryClicked">
            <div class = "separateDiv">
              <div class = "textSeparateDiv"><i>Search Country:</i><br></div>
              <app-search-country (countryEvent)="countryEventHandler($event)"></app-search-country>
            </div><br>
        </div>
      </div>
      
  </div>
  