<div class="contentDisplay">
  <div id="cat-select">
    <form>
      <select #categories id="categories" (change)="selectCat(categories.value)">
        <option value="artists">Artists</option>
        <option value="bands">Bands</option>
        <option value="albums">Albums</option>
        <option value="songs">Songs</option>
        <option value="genres">Genres</option>
        <option value="instruments">Instruments</option>
      </select>
    </form>
  </div>
  <div id="search-opts">
    <app-advanced-artist *ngIf="artists" (artistSearchEvent)="artistSearchHandler($event)"></app-advanced-artist>
    <app-advanced-band *ngIf="bands"></app-advanced-band>
    <app-advanced-album *ngIf="albums"></app-advanced-album>
    <app-advanced-song *ngIf="songs"></app-advanced-song>
    <app-advanced-genre *ngIf="genres"></app-advanced-genre>
    <app-advanced-instrument *ngIf="instruments"></app-advanced-instrument>
  </div>
  <div id="search-result">
    <app-artist-list-display *ngIf="artists && foundArtists" [list]="foundArtists"></app-artist-list-display>
  </div>
</div>
