<div class="contentDisplay">

  <div id="cat-select">

    <form>
     <i> Select what you are looking for: </i> 
      <select #categories id="categories" (change)="selectCat(categories.value)">
        <option value="songs">Songs</option>
        <option value="bands">Bands</option>
        <option value="artists">Artists</option>
      </select>
    </form>
  </div>

  <div id="search-opts">
    <app-advanced-artist
      *ngIf="artists"
      (artistSearchEvent)="artistSearchHandler($event)"
      (noResultEvent)="noResultEventHandler($event)"
    ></app-advanced-artist>

    <app-advanced-band
      *ngIf="bands"
      (bandSearchEvent)="bandSearchHandler($event)"
      (clearEvent)="clearHandler($event)"
      (noResultEvent)="noResultEventHandler($event)"

    ></app-advanced-band>

    <app-advanced-song
      *ngIf="songs"
      (songSearchEvent)="songSearchHandler($event)"
      (clearEvent)="clearHandler($event)"
      (noResultEvent)="noResultEventHandler($event)"
    ></app-advanced-song>
  </div>

  <div id="search-result">
    <app-artist-list-display *ngIf="artists && foundArtists" [list]="foundArtists"></app-artist-list-display>
    <app-band-list-display *ngIf="bands && foundBands" [list]="foundBands"></app-band-list-display>
    <app-song-list-display *ngIf="songs && foundSongs" [list]="foundSongs"></app-song-list-display>
  </div>

</div>
