
<div class="searchContent">
  <div class="advSrcElement">
    Title contains:{{titles}}
    <input type="text" [(ngModel)]="newTitle">
    <button (click)="addTitle()">add</button>
  </div>
  <div class="advSrcElement">
    Title doesn't contain:{{noTitles}}
    <input type="text" [(ngModel)]="newNoTitle">
    <button (click)="addNoTitle()">add</button>
  </div>
  <div class="advSrcElement">
    Max length
    <input type="number" [(ngModel)]="maxMin">
    <input type="number" [(ngModel)]="maxSec">
  </div>
  <div class="advSrcElement">
    Min length
    <input type="number" [(ngModel)]="minMin">
    <input type="number" [(ngModel)]="minSec">
  </div>
  <div class="advSrcElement">
    Include band:{{bands}}
    <input type="text" [(ngModel)]="newBand">
    <button (click)="addBand()">add</button>
  </div>
  <div class="advSrcElement">
    Exclude band:{{noBands}}
    <input type="text" [(ngModel)]="newNoBand">
    <button (click)="addNoBand()">add</button>
  </div>
  <div class="advSrcElement">
    Include genre:{{genres}}
    <input type="text" [(ngModel)]="newGenre">
    <button (click)="addGenre()">add</button>
  </div>
  <div class="advSrcElement">
    Exclude genre:{{noGenres}}
    <input type="text"  [(ngModel)]="newNoGenre">
    <button (click)="addNoGenre()">add</button>
  </div>
  <div class="advSrcElement">
    Include instrument:{{instruments}}
    <input type="text" [(ngModel)]="newInstrument">
    <button (click)="addInstrument()">add</button>
  </div>
  <div class="advSrcElement">
    Exclude instrument:{{noInstruments}}
    <input type="text"  [(ngModel)]="newNoInstrument">
    <button (click)="addNoInstrument()">add</button><br/>
  </div>
  <button (click)="go()">Go</button>
  <button (click)="clear()">Cear</button>

</div>
