<div class="add">
  <input [(ngModel)]="songName" placeholder="song name" /><br />
  <input
    [(ngModel)]="songLengthSeconds"
    placeholder="length in seconds"
  /><br />

  <div *ngIf="song.band">Band: {{ song.band.bandName }}<br /></div>
  <app-search-band (bandEvent)="bandEventHander($event)"></app-search-band
  ><br />

  <div *ngIf="song.album">Album: {{ song.album.albumName }}<br /></div>
  <app-search-album (albumEvent)="albumEventHander($event)"></app-search-album
  ><br />

  <div *ngIf="song.genre">Genre: {{ song.genre.genreName }}<br /></div>
  <app-search-genre (genreEvent)="genreEventHander($event)"></app-search-genre
  ><br />

  <button (click)="addSong()">Add song</button>
</div>
<div class="add">
  <h5>Authors</h5>
  <ul *ngIf="authorList">
    <li *ngFor="let authorship of authorList">
      {{ authorship.author.lastName }} Text<input
        type="checkbox"
        (click)="toggleWroteText(authorship)"
      />
      Music<input type="checkbox" (click)="toggleWroteMusic(authorship)" />
      <button (click)="removeAuthor(authorship)">X</button>
    </li>
  </ul>
  <app-search-person
    (personEvent)="personEventHander($event)"
  ></app-search-person>
</div>
<div class="add">
  <h5>Instruments</h5>
  <ul *ngIf="instrumentList">
    <li *ngFor="let songInstrument of instrumentList">
      {{ songInstrument.instrument.instrumentName }}
    </li>
  </ul>
  <app-search-instrument
    (instrumentEvent)="instrumentEventHander($event)"
  ></app-search-instrument>
</div>
