<!--

<div style="text-align: center;">

    <form #signUpForm = "ngForm" id = "signUpForm">

      <input type = "text" name = "userName" [(ngModel)]="userName" placeholder="Username" required>
      <input type = "password" name = "password" [(ngModel)]="password" placeholder="Password" required>
      <input type = "text" name = "email" [(ngModel)]="email" placeholder="E-mail" required>
      <button (click)="signUp()" [disabled]="!signUpForm.valid">Sign Up</button>

    </form>

</div>
-->

<div id = "signUpBackground">

    <form #signInForm = "ngForm" id = "signUpForm">
      <div id = "signUpBox">
        <h2>Sign Up</h2>
      </div>
        <div id = "textInputs">

            <p><input type = "text" class = "creditals" name = "userName" [(ngModel)]="userName" placeholder="Username" required></p>
            <p><input type = "password" class = "creditals" name = "password" [(ngModel)]="password" placeholder="Password" required></p>
            <p><input type = "text" class = "creditals" name = "email" [(ngModel)]="email" placeholder="E-mail" required></p>
            <button (click)="signUp()" [disabled]="!signUpForm.valid" id = "signUpButton">Sign Up</button>
            <div class="signIn"><a href = "SignIn">Already have account?</a></div>
        </div>
    </form>
  
  </div>
  
