<div id = "centerDiv">
    <div id = "head">Public Profile</div>
    <br>
    <form id = "profileForm">
      <div class = "separateDiv">
        <div class = "textSeparateDiv">First Name<br></div>
        <input type = "text" class = "inputText">
      </div><br>
      <div class = "separateDiv">
          <div class = "textSeparateDiv">Last Name<br></div>
        <input type = "text" class = "inputText">
      </div><br>
      <div class = "separateDiv">
          <div class = "textSeparateDiv">Birthdate<br></div>
        <input type = "date" class = "inputDate">
    </div><br>
    <div class = "separateDiv">
        <div class = "textSeparateDiv">About You<br></div>
        <textarea type="text" id = "inputAbout"></textarea>
      </div><br>
    <div class = "separateDiv">
      <button id = "submitButton">Update Profil</button>
    </div>
    </form>
  </div>
  
  