<div class="add">
  <input [(ngModel)]="bandName" placeholder="Band name" /><br />
  Year of creation:<br />
  <input [(ngModel)]="creationYear" type="number" min="1900" max="2019" /><br />
  <div *ngIf="band.formedIn">
    Origin: {{ band.formedIn.country }} {{ band.formedIn.city }}
    {{ band.formedIn.address }}<br />
  </div>
  <button (click)="selectFormedIn()">Select formedIn</button><br />
  <button (click)="addBand()">Add band</button>
</div>
<div class="add">
  <ul *ngIf="formedInSelected">
    <li
      *ngFor="let localization of localizationList"
      (click)="addFormedIn(localization)"
    >
      <h5>{{ localization.country }}</h5>
      <h6 *ngIf="localization.city">{{ localization.city }}</h6>
      <div *ngIf="localization.address">{{ localization.address }}</div>
    </li>
  </ul>
</div>
