
<div id="CRUD">
  <div id = "profileForm">
    <form>
        <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>Band Name:</i><br></div>
          <input type = "text" name = "bandName" [(ngModel)]="bandName" class = "inputText" >
        </div><br>
        <div class = "separateDiv">
          <div class = "textSeparateDiv"><i>Creation Date:</i><br></div>
          <input type = "date" name = "creationYear" [(ngModel)]="creationYear" class = "inputText" required>
      </div><br>

        <div class = "separateDiv">
            <div class = "textSeparateDiv"><i>City:<div *ngIf = "isCitySelected"> {{ band.formedIn.cityName }}</div></i><br></div>
            <button (click)="searchCity()">Set City</button>
        </div><br>

        <div class = "separateDiv">
            <button (click)="addBand()">Add New Band</button>
        </div><br>
    </form>
  </div>
  <div id = "searchPlace" *ngIf = "isCityClicked">
      <div class = "separateDiv">
        <div class = "textSeparateDiv"><i>Search City:</i><br></div>
        <app-search-city (cityEvent)="cityEventHandler($event)"></app-search-city>
      </div><br>
  </div>

</div>

