#CRUD {
  width: auto;
  height: 30px;
  background: aliceblue;
  position: relative;
  top: 100px;
}

#list {
  display: inline-block;
  background: aliceblue;
  width: 35%;
  margin: 20px;
  position: relative;
  top: 110px;
}

#editor {
  display: inline-block;
  background: aliceblue;
  position: relative;
  top: 110px;
}
