.navigator{
  width: 12.3%;
  height: 30px;
  text-align:center;
  padding-top: 10px;
  float: left;
  background: aliceblue;

}

.signNavigator{
  width: 49%;
  height: 30px;
  text-align:center;
  padding-top: 10px;
  float: left;
  background: aliceblue;
}

#navigationPanel{
  width: 85%;
  float: left;
  position: fixed;

}

#loginPanel{
  width: 15%;
  position: fixed;
  right: 0px;
}
