<body>
  <div id = "header">
    <div id = "navigator">
      <div id = "logo"> MusicCube</div>

      <div class="biggerNavigatorBox">
        <div class = "navigatorOption">News</div>
        <a routerLink="/search"><div class = "navigatorOption">Search</div></a>
        <div class = "navigatorOption">Rankings</div>
        <div class = "navigatorOption">Contact</div>
        <div class = "navigatorOption">Events</div>
        <div class = "navigatorOption">Reviews</div>
        <div class = "navigatorOption">Music Videos</div>
        <div class = "navigatorOption">Forum</div>
      </div>

      <div class="smallerNavigatorBox">
        <a routerLink = "SignIn" routerLinkActive = "active"><div class = "navigatorOption navigatorOptionSmaller" *ngIf="isLogged === false">Sign in</div></a>
        <a routerLink = "SignUp" routerLinkActive = "active"><div class = "navigatorOption navigatorOptionSmaller" *ngIf="isLogged === false">Sign up</div></a>
        <a routerLink = "UserPanel" routerLinkActive = "active"><div class="navigatorOption navigatorOptionSmaller" *ngIf="authority === 'user'">User Panel</div></a>
        <a routerLink = "AdminPanel" routerLinkActive = "active"> <div class="navigatorOption navigatorOptionSmaller" *ngIf="authority === 'admin'">Admin Panel</div></a>
        <div class="navigatorOption navigatorOptionSmaller" *ngIf="isLogged === true" (click)="signOut()">Sign Out</div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>