* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#navigator {
  font-size: 1vw;
  background-color: aliceblue;
  text-align: center;
  height: 40px;
  width: 100%;
  animation-name: showNavigatorAnimation;
  animation-duration: 2s;
}

#logo {
  vertical-align: middle;
  line-height: 40px;
  float: left;
  width: 18vw;
}


.navigatorOption {
  line-height: 40px;
  height: 40px;
  display: block;
  float: left;
  width: 8vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);


}

.smallerNavigatorBox{
  float: right;

}

.navigatorOptionSmaller{
  width: 5vw;
}

.navigatorOption:link,
.navigatorOption:visited {
  text-decoration: no;
}

.navigatorOption:hover {
  animation-name: hoverAnimation;
  animation-duration: 2s;

}

.content{
  margin-top: 10px;
  background-image: linear-gradient(to right bottom,
  rgba( 240,	248,	255, 0.2),
  rgba( 240,	248,	255, 0.2)),
 url( "https://images.pexels.com/photos/2796145/pexels-photo-2796145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
 box-sizing: border-box;
 background-position: top;
 background-attachment: fixed;
 background-size: contain;
 width: 100%;
 min-height: 90vh;
 animation-name: showNavigatorAnimation;
 animation-duration: 1s;
}


@keyframes hoverAnimation {
  0% {
    background-color: #d9edff;
  }

  100% {
    background-color: aliceblue;
  }
}

@keyframes showNavigatorAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
