.contentDisplay{
    background-color: rgba(240, 248, 255, 0.9);
    margin-left: 18%;
    margin-right: 18%;
    min-height: 87.5vh;
  
  }

  #infoPanel{
      width: 30%;
      float: left;
      background-color: aliceblue;
      margin-top: 50px;
    }

    h4{
        text-align: left;
        margin-left: 10%;
    }

  hr{
      width: 80%;
  }

  #displayPanel{
      width: 60%;
      float: left;
      min-height: 100%;
      margin-right: 10%;
  }

  #about{
      margin-left: 5%;
  }

  .aboutContent{
  }

  #optionDisplayPanel{
    background-color: aliceblue;
    height: 50px;
  }

  #displayPanelContent{
      background-color: lightgray;
      min-height: 70vh;
  }

  .optionToDisplay{
    width: 33.3%;
    height: 100%;
    text-align: center;
    display: inline-block;


  }

  #bio{
      margin-left: 5%;
  }

  #statistic{
      margin-left: 5%;
  }

  #statisticOption{
      width: 33%;
      height: 20px;
      position: relative;
      background-color: yellow;
      display: inline-block;
  }

  #commentSection{
      margin-top: 5%;
    margin-left: 5%;
      width: 95%;
  }

  #commentHeader{
      margin-top: 10px;
      min-height: 30px;
      text-align: right;

  }

  #commentBody{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;

    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    min-height: 50px;
  }

  #deleteComment{
    text-align: right;
  }

  .optionToDisplay:hover{
    animation-name: hoverAnimation;
    animation-duration: 2s;
  }

  @keyframes hoverAnimation {
    0% {
      background-color: #d9edff;
    }
  
    100% {
      background-color: aliceblue;
    }
  }
  