<div *ngIf="band" class="contentDisplay">
  <h4>{{band.bandName}}</h4>
  <h5>Band<span *ngIf="band.formedIn"> from {{band.formedIn.cityName}}, {{band.formedIn.country.countryName}}</span></h5>
  <span *ngIf="band.creationDate">Formed in {{band.creationDate | date: 'yyyy'}}</span>
  <h5>Lineup</h5>
  <ul>
    <li *ngFor="let aDsp of artistDisplays">
      <a routerLink="/artist/{{aDsp.artistId}}">{{aDsp.artistName}}</a> {{aDsp.getActivity()}}
    </li>
  </ul>
  <h5>Discography</h5>
  <ul>
    <li *ngFor="let album of albums">
      <a routerLink="/album/{{album.id}}">{{album.albumName}}</a> {{album.releaseDate | date:'yyyy'}}
    </li>
  </ul><br>
  <div *ngIf = "isLogged">Favorite: <input type = "checkbox" name = "isFavorite" [(ngModel)]="isFavorite" (click) = "toFavorite()" /></div>

</div>
