

<div class = "centralDiv">
  <div id = 'userPanel'>
    <div class = 'navigator' id = 'notClickable'>User Settings</div>
    <a routerLink = "Profile" routerLinkActive = "active"><div class = 'navigator'>Profile</div></a>
    <a routerLink = "Account" routerLinkActive = "active"><div class = 'navigator'>Account</div></a>
    <a routerLink = "Favorites" routerLinkActive = "active"><div class = 'navigator'>Favorites</div></a>
    <a routerLink = "ReportBug" routerLinkActive = "active"><div class = 'navigator'>Report Bug</div></a>
  </div>
    <div id = 'routerOutlet'>
      <router-outlet></router-outlet>
    </div>
  </div>




