

.adminPanel{
  padding-top: 45px;
  width: 85%;
  height: 30px;
  text-align:center;
  background: aliceblue;

}

.adminComponentPanel{
  padding-top: 15px;
  text-align:center;
  background: aliceblue;

}

.adminPanelNavigator{
  height: 30px;
  width: 12.3%;
  text-align:center;
  float: left;
  background: aliceblue;
}

.adminComponentNavigator{
  height: 30px;
  width: 100%;
  text-align:center;
  background: aliceblue;



}


