
<div id = 'marginLeft'>
</div>

  <div id = 'adminPanel'>
    <div class = 'navigator' id = 'notClickable'>Admin Panel</div>
    <div class = 'navigator' *ngIf="!isShowRecordClicked">Manage Users</div>
    <div class = 'navigator' (click)="isShowRecordClicked = swichMainValue(isShowRecordClicked)" *ngIf="!isShowRecordClicked">Manage Records</div>
    <div class = 'navigator' (click)="userPanel()" *ngIf="!isShowRecordClicked">Manage Your Account</div>  
    <div class = 'navigator' (click)="resetValues()" *ngIf="isShowRecordClicked">Back</div>
    <div class = 'navigator' (click)="isSongClicked = switchRecordValue(isSongClicked)" *ngIf="isShowRecordClicked">Song</div>
    <div class = 'navigator' (click)="isBandClicked = switchRecordValue(isBandClicked)" *ngIf="isShowRecordClicked">Band</div>
    <div class = 'navigator' (click)="isAlbumClicked = switchRecordValue(isAlbumClicked)" *ngIf="isShowRecordClicked">Album</div>
    <div class = 'navigator' (click)="isPersonClicked = switchRecordValue(isPersonClicked)" *ngIf="isShowRecordClicked">Person</div>
    <div class = 'navigator' (click)="isConcertClicked = switchRecordValue(isConcertClicked)" *ngIf="isShowRecordClicked">Concert</div>
    <div class = 'navigator' (click)="isGenreClicked = switchRecordValue(isGenreClicked)" *ngIf="isShowRecordClicked">Genre</div>
    <div class = 'navigator' (click)="isInstrumentClicked = switchRecordValue(isInstrumentClicked)" *ngIf="isShowRecordClicked">Instrument</div>
    <div class = 'navigator' (click)="isCityClicked = switchRecordValue(isCityClicked)" *ngIf="isShowRecordClicked">City</div>

  </div>
    <div id = 'routerOutlet'>
        <div id = "head" *ngIf="showHead">

          <div class="adminComponentPanel" *ngIf="isSongClicked">
              <a routerLink="AddSong" routerLinkActive="active"><div class="adminComponentNavigator">Add New Song</div></a>
              <a routerLink="EditSong" routerLinkActive="active"><div class="adminComponentNavigator">Edit/Delete Song</div></a>
            </div>

            <div class="adminComponentPanel" *ngIf="isBandClicked">
                <a routerLink="AddBand" routerLinkActive="active"><div class="adminComponentNavigator">Add New Band</div></a>
                <a routerLink="EditBand" routerLinkActive="active"><div class="adminComponentNavigator">Edit/Delete Band</div></a>
              </div>

              <div class="adminComponentPanel" *ngIf="isAlbumClicked">
                  <a routerLink="AddAlbum" routerLinkActive="active"><div class="adminComponentNavigator">Add New Album</div></a>
                  <a routerLink="EditAlbum" routerLinkActive="active"><div class="adminComponentNavigator">Edit/Delete Album</div></a>
              </div>

              <div class="adminComponentPanel" *ngIf="isPersonClicked">
                  <a routerLink="AddPerson" routerLinkActive="active"><div class="adminComponentNavigator">Add New Person</div></a>
                  <a routerLink="EditPerson" routerLinkActive="active"><div class="adminComponentNavigator">Edit/Delete Person</div></a>
              </div>

              <div class="adminComponentPanel" *ngIf="isConcertClicked">
                  <a routerLink="AddConcert" routerLinkActive="active"><div class="adminComponentNavigator">Add New Concert</div></a>
                  <a routerLink="EditConcert" routerLinkActive="active"><div class="adminComponentNavigator">Edit/Delete Concert</div></a>
              </div>

              <div class="adminComponentPanel" *ngIf="isGenreClicked">
                  <div class="adminComponentNavigator" (click) = "isGenreAddClicked = switchOptionValue(isGenreAddClicked)">Add New Genre</div>
                  <div class="adminComponentNavigator" (click) = "isGenreEditClicked = switchOptionValue(isGenreEditClicked)">Edit/Delete Genre</div>
              </div>

              <div class="adminComponentPanel" *ngIf="isInstrumentClicked">
                  <a routerLink="AddInstrument" routerLinkActive="active"><div class="adminComponentNavigator">Add New Instrument</div></a>
                  <a routerLink="EditInstrument" routerLinkActive="active"><div class="adminComponentNavigator">Edit/Delete Instrument</div></a>
              </div>

              <div class="adminComponentPanel" *ngIf="isCityClicked">
                  <!--Miejsce na city i country-->
              </div>
        </div>
        <app-add-genre *ngIf = "isGenreAddClicked"></app-add-genre>
        <app-edit-genre *ngIf = "isGenreEditClicked"></app-edit-genre>
      <router-outlet></router-outlet>
    </div>

<div id = 'marginRight'>
</div>



