
.centralDiv{

  background-color: rgba(240, 248, 255, 0.9);
  margin-top: 5vh;
  margin-left: 18%;
  margin-right: 18%;
  padding-bottom: 5vh;

  min-height: 81vh;
  height: auto;
  overflow-y: scroll;
  overflow: hidden;
  animation-name: introAnimation2;
  animation-duration: 3s;

}

#adminPanel{
  width: 20%;
  padding-top: 70px;
  float: left;
  padding-left: 5%;
}

#routerOutlet{
  padding-top: 70px;
  float: left;
  width: 70%;
  text-align: center;
}

#notClickable{
  background:#d9edff;
}

.navigator{
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  padding-top: 10px;
  text-align:center;
}

.navigator:hover{
  background:aliceblue;
}


#head{
  width: 97%;
  margin-left: 3%;
  height: 41px;
  text-align: left;
  background: #d9edff;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;

}

.adminComponentNavigator{
  width: 50%;
  height: 28px;
  float: left;
  text-align: center;
  padding-top: 13px;

}

.adminComponentNavigator:hover{
  background: aliceblue;
}

@keyframes introAnimation2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}