
<div class="searchContent">
  <div class="advSrcElement">
    Name contains:{{names}}<input type="text" [(ngModel)]="newName"/><button (click)="addName()">Add</button>
  </div>
  <div class="advSrcElement">
    Name doesn't contain:{{nonames}}<input type="text" [(ngModel)]="newNoName"/><button (click)="addNoName()">Add</button>
  </div>
  <div class="advSrcElement">
    Formed In or Later:<input type="number" [(ngModel)]="yearAfter">
  </div>
  <div class="advSrcElement">
    Formed In or Before:<input type="number" [(ngModel)]="yearBefore">
  </div>
  <div class="advSrcElement">
    Include country:{{countries}}<input type="text" [(ngModel)]="newCountry"><button (click)="addCountry()">Add</button>
  </div>
  <div class="advSrcElement">
    Exclude country:{{nocountries}}<input type="text" [(ngModel)]="newNoCountry"><button (click)="addNoCountry()">Add</button>
  </div>
  <div class="advSrcElement">
    Include genre:{{genres}}<input type="text" [(ngModel)]="newGenre"><button (click)="addGenre()">Add</button>
  </div>

</div>
  
<div class="buttonDiv"><button (click)="search()">Go</button></div>
<div class="buttonDiv"><button (click)="clear()">Clear</button> </div>
