
/*
#cat-select {
  display: inline-block;
  margin: 15px;
  width: 150px;
}
#search-opts {
  display: inline-block;
}

#search-result {
  display: inline-block;
  margin: 30px;
}

#search-result table {
  position: relative;
  top: 0px;
}

form {
  position: absolute;
  top: 0px;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentDisplay{
  background-color: rgba(240, 248, 255, 0.9);
  margin-left: 18%;
  margin-right: 18%;
  min-height: 81vh;
  height: auto;
  overflow-y: scroll;
  overflow: hidden;
  animation-name: introAnimation;
  animation-duration: 3s;
}

#cat-select {
  display: inline-block;
  margin: 15px;
  width: 100%;
}

#categories{
  width: 10vw;
}



@keyframes introAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

