<div *ngIf="genre" class="contentDisplay">
  <div id = "infoPanel">
    <h4>Information</h4>
    <hr>
    <div id = "about">
      <div class = "aboutContent"><b>Genre name:</b> {{genre.genreName | titlecase}}</div>
      <div class = "aboutContent"><b>Origin:</b> {{genre.origin.countryName}}</div>
      <div class = "aboutContent"><b>Creation date:</b> {{genre.creationDate}}</div>


     </div>

   </div>
   <div id = "displayPanel">
     <div id = "optionDisplayPanel">


     </div>
   
   
     <div id = "displayPanelContent">

      <div id = "bio">
        <h3>About genre:</h3>
        <div class="aboutGrnre" *ngIf = "genre.aboutGenre !== ''">{{genre.aboutGenre}}</div>
      </div>

  </div>
</div>
